html {
  font-size: 10px;
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-weight: 400;
  line-height: 1.6;
}

body {
  margin: 0;
}

.container {
  padding: 0 3rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1441px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1230px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1070px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 660px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 480px;
  }

  .quality {
    width: 100%;
  }

  .qualities {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 376px) {
  .container {
    max-width: 315px;
  }
}


@media only screen and (min-width: 768px) {
  .header-content {
    padding-top: 14.9rem;
    padding-bottom: 13.6rem;
  }

  .title {
    font-size: 3rem !important;
    line-height: 4rem !important;
    padding-bottom: 3rem !important;
  }

  .locations {
    padding: 5rem 0 !important;
    background: #ffffff !important;
    font-size: 2.4rem !important;
  }

  .qualities {
    grid-template-columns: 1fr !important;
  }

  .quality {
    width: 45% !important;
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    font-size: 3.6rem !important;
    line-height: 4.2rem !important;
    padding-bottom: 5rem !important;
  }

  .quality {
    width: 100% !important;
    margin-bottom: 2rem;
  }
  .qualities {
    grid-template-columns: 1fr 2fr !important;
  }
}

@media only screen and (min-width: 1200px) {
  .quality {
    width: 45% !important;
  }
}

.title {
  font-size: 2.5rem;
  line-height: 4.2rem;
  font-weight: 800;
  color: #2c3134;
  padding-bottom: 1.4rem;
}

.qualities,
.testimonials .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 6.8rem;
}

.all-qualities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quality-subtitle {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 2rem;
}

.quality {
  width: 100%;
  margin-bottom: 2rem;
}

.qualities img {
  vertical-align: middle;
}

.quality-img,
.testi-image {
  max-width: 100%;
  height: auto;
}

.quality-title {
  font-size: 2.4rem;
  margin-top: 0;
}

.quality-subtext {
  font-size: 1.6rem;
  color: #000000;
  opacity: 0.6;
  margin: 0;
}

.locations {
  font-weight: normal;
  padding: 2.1rem 3.1rem;
  background: #f5f9e7;
  font-size: 1.8rem;
  color: #2c3134;
  max-width: 54.8rem;
  margin: 0 auto;
}
